/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

menu,ol,ul {
    list-style: none;
}

.row {
    display: flex;
}

/* sfondo pagina */
body {
    background-color: cornflowerblue;
}

/* primo box */
.content{
    padding-top: 50px;
}
.container{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    justify-content: center;
}
.card{
    background-color: white;
    padding: 20px; 
}

.title.subtitle{
    padding: 0;
}


/* secondo box */

.card-product {
    background-color: white;
    align-items: center;
    display: block;
    border: 1px solid #e7e7e7;
}
.col-1{

}

.row {
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 50px;
}

.card-product img {
    width: 200px;
    display: block;
    padding-bottom: 10px;
}

.card-product figure{
    flex-shrink: 0;
}

.brand {
    font-size: 14px;
}
.price{
    color: red;
    font-size: 14px;
}

.details {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
